<div class="form__wrapper">
  <form
    (ngSubmit)="onSubmit(todoForm)"
    class="form__container"
    #todoForm="ngForm"
  >
    <div class="mb-3">
      <label for="inputText" class="form-label">Enter your todo</label>
      <input
        type="text"
        class="form-control"
        id="inputText"
        ngModel
        name="todo"
        required
      />
      <small
        *ngIf="todoForm.invalid && todoForm.dirty"
        id="errorMessage"
        class="for-text text-danger"
        >Required field</small
      >
    </div>
    <button
      [disabled]="todoForm.invalid"
      id="submitButton"
      type="submit"
      class="btn btn-primary"
    >
      Add todo
    </button>
  </form>
</div>
